/org.eclipse.jdt.core.prefs
/org.eclipse.m2e.core.prefs
/org.eclipse.core.resources.prefs
resourcesDev
javaDev
*.iml
.idea
target
.classpath
.project
.checkstyle
/.settings/
/.springBeans
/local_configs
java.generated
application.properties
/bin
sortedData.txt