<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/main/book-stack.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Новая позиция</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">WebBooks <img th:src="@{/main/book-stack.png}" height="15px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clients}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}">Книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/authors}">Авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/genres}">Жанры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">Заказы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container-sm">
        <h5 class="display-5" align="center">Новая позиция</h5>
        <form th:method="POST" th:action="@{/books}" th:object="${book}">
            <div class="mb-3">
                <label for="name">Название</label>
                <input class="form-control" type="text" th:field="*{name}" id="name"/>
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                <div class="form-text">*обязательное поле</div>
            </div>
            <div class="mb-3">
                <label for="genreId">Жанр</label>
                <select class="form-select" th:object="${book}" th:field="*{genreId}" id="genreId">
                    <option th:each="genre : ${genreList}" th:value="${genre.getId()}" th:text="${genre.getName()}">Жанр</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="author">Автор</label>
                <select class="form-select" th:object="${book}" th:field="*{authorId}" id="author">
                    <option th:each="author : ${authorList}" th:value="${author.getId()}" th:text="${author.getName()}">Автор</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="year">Введите год: </label>
                <input class="form-control" type="number" th:field="*{year}" id="year"/>
                <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year Error</div>
                <div class="form-text">*обязательное поле</div>
            </div>
            <div class="mb-3">
                <label for="description">Описание</label>
                <input class="form-control" type="text" th:field="*{description}" id="description"/>
                <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</div>
            </div>
            <br><input type="submit" class="btn btn-primary" value="Добавить книгу"/>
        </form>
    </div>
</body>
</html>