<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/main/book-stack.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <title>Просмотр клиента</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">WebBooks <img th:src="@{/main/book-stack.png}" height="15px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clients}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}">Книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/authors}">Авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/genres}">Жанры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">Заказы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container-sm">
        <div class="col">
            <h5 class="display-5" align="center" th:text="${client.getName()}">getName</h5>
            <br>
            <div class="row row-cols-4">
                <div class="col"></div>
                <div class="col">
                    <div align="right"><a th:href="@{/clients/{id}/edit(id=${client.getId()})}"><button class="btn btn-outline-primary" type="button" >Редактировать</button></a></div>
                </div>
                <div class="col">
                    <div align="left"><form th:method="DELETE" th:action="@{/clients/{id}(id=${client.getId()})}"><input class="btn btn-outline-danger" type="submit" value="Удалить клиента"/></form></div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <img th:src="@{/main/clients/default.png}" height="150px" alt="Фото клиента"/>
        </div>
        <br>
        <figure class="text-center">
            <p th:text="${client.getEmail()}">getEmail</p>
            <p th:text="'Телефонный номер: ' + ${client.getPhoneNumber()}">[phoneNumber]: phoneNumber</p>
            <p th:text="${client.getSex() + ', возраст ' + client.getAge()}">[Sex]: sex</p>
        </figure>
        <div class="text-center" th:if="${client.getDeliveryAddress() == null || client.getDeliveryAddress().equals('')}">
            <span>Адрес доставки: </span>
            <a th:href="@{/clients/{id}/edit(id=${client.getId()})}"><button class="btn btn-outline-warning btn-sm">Заполнить</button></a>
        </div>
        <div class="text-center" th:if="${client.getDeliveryAddress() != null && !client.getDeliveryAddress().equals('')}">
            <span th:text="'Адрес доставки: ' + ${client.getDeliveryAddress()}">Адрес доставки: Адрес доставки</span>
        </div>
        <div class="text-center" th:if="${client.getFavoriteGenre().equals('-')}">
            <span>Любимый жанр: </span>
            <a th:href="@{/clients/{id}/edit(id=${client.getId()})}"><button class="btn btn-outline-warning btn-sm">Заполнить</button></a>
        </div>
        <div class="text-center" th:if="${!client.getFavoriteGenre().equals('-')}">
            <span th:text="'Любимый жанр: ' + ${client.getFavoriteGenre()}">Любимый жанр: Роман</span>
        </div>
        <div class="text-center" th:if="${client.getDescription().isEmpty() || client.getDescription() == null || client.getDescription().equals('-')}">
            <span>Описание: </span>
            <a th:href="@{/clients/{id}/edit(id=${client.getId()})}"><button class="btn btn-outline-warning btn-sm">Заполнить</button></a>
        </div>
        <div class="text-center" th:if="${!client.getDescription().isEmpty() && !client.getDescription().equals('-')}">
            <p>Описание: </p>
            <div class="border"><p th:text="${client.getDescription()}" align="justify">getDescription</p></div>
        </div>
        <br>
        <hr>
        <div>
            <div th:if="${!orderList.isEmpty()}">
                <h6 class="display-6" align="center">Книги на руках</h6>
                <br>
                <div class="list-group" th:each="order : ${orderList}">
                    <a th:href="@{/books/{id}(id=${order.getBookId()})}">
                        <div align="center"><button type="button" class="list-group-item list-group-item-action"
                            th:text="${order.getBookName()}">book</button></div>
                    </a>
                </div>
            </div>
            <div th:if="${orderList.isEmpty()}">
                <h6 class="display-6" align="center">У клиента нет книг на руках</h6>
            </div>
        </div>
    </div>
</body>
</html>